



<div class="pages">

    <div data-page="index" class="page homepage">
        <div class="page-content">

            <div class="navbarpages">
                <div class="navbar_left">
                    <div class="logo_text"><a href="@Url.Action("Index","Home")">CABBASH</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="~/images/icons/white/menu.png" alt="" title="" /></a>
                </div>


            </div>

            <div class="main-search-container">
                <div class="main-search-inner">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <h5><span style="color:white;">Opps, We are sorry you got here. We are currently working to fix the problem</span></h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>




